[submodule "libs/logue-sdk"]
	path = libs/logue-sdk
	url = https://github.com/korginc/logue-sdk.git
	ignore = dirty
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
