name: C/C++ CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TOOLSDIR: libs/logue-sdk/tools
      BUILDDIR: build

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
    - name: Update submodules
      run: git submodule update --init --recursive
    - name: Cache
      uses: actions/cache@v5
      with:
        path: |
          libs/logue-sdk/tools
          subprojects/googletest-release-1.11.0
        key: ${{ runner.os }}-logue-sdk-ab654af-googletest-release-1.11.0
    - name: Install tools
      run: |
        pip install 'meson>=0.54.0' ninja
        sudo apt-get update
        sudo apt-get install -y clang-tidy clang-format
    - name: Install gcc for arm
      run: |
        cd $TOOLSDIR/gcc
        if [ ! -d "gcc-arm-none-eabi-5_4-2016q3" ]; then ./get_gcc_linux.sh; fi
    - name: Install logue-cli
      run: |
        cd $TOOLSDIR/logue-cli
        if [ ! -d "logue-cli-linux64-0.07-2b" ]; then ./get_logue_cli_linux.sh && chmod 755 logue-cli-linux64-0.07-2b/logue-cli; fi
    - name: Build
      run: tools/build.sh
    - name: Test
      run: |
        meson ${BUILDDIR}
        meson test -C ${BUILDDIR}
    - name: Check formatting
      run: tools/format.sh --check
    - name: Lint
      run: tools/lint.sh
